---
import "../styles/global.css";

interface Props {
  frontmatter: {
    title: string;
    path: string;
    excerpt: string;
  };
}

const { frontmatter } = Astro.props;

const chapter = frontmatter.title.split(". ")[0];
const title = frontmatter.title.replace(/^(?:\d)+\. /, "");
const story = frontmatter.path.split("/")[0];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/beta/favicon.svg" />
    <link rel="icon" href="/beta/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={`${title} • ${story}`} />
    <meta property="og:description" content={frontmatter.excerpt} />

    <title>{title} • {story}</title>
  </head>
  <body class="bg-stone-950 px-4 py-8 text-white lg:my-16">
    <div class="prose prose-stone prose-invert m-auto max-w-[80ch]">
      <h3>
        <span class="text-yellow-600">{story}</span>
        <span class="text-stone-500">• Chapter {chapter}</span>
      </h3>
      <h1>{title}</h1>
      <slot />
    </div>
  </body>
</html>
